{
  "openapi": "3.0.3",
  "info": {
    "title": "Nodit Web3 Data API",
    "version": "1.0.0",
    "description": "Curated Nodit Web3 Data operations for UXC."
  },
  "servers": [
    {
      "url": "https://web3.nodit.io"
    }
  ],
  "paths": {
    "/v1/multichain/lookupEntities": {
      "post": {
        "operationId": "postLookupEntities",
        "summary": "Lookup entities across chains",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input"
                ],
                "properties": {
                  "input": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lookup result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/{chain}/{network}/native/getNativeBalanceByAccount": {
      "post": {
        "operationId": "postGetNativeBalanceByAccount",
        "summary": "Get native balance by account",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountAddress"
                ],
                "properties": {
                  "accountAddress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Native balance result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/{chain}/{network}/blockchain/getTransactionsByAccount": {
      "post": {
        "operationId": "postGetTransactionsByAccount",
        "summary": "Get transactions by account",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountAddress"
                ],
                "properties": {
                  "accountAddress": {
                    "type": "string"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "cursor": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions by account result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/{chain}/{network}/token/getTokenContractMetadataByContracts": {
      "post": {
        "operationId": "postGetTokenContractMetadataByContracts",
        "summary": "Get token contract metadata by contracts",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contractAddresses"
                ],
                "properties": {
                  "contractAddresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token contract metadata result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/{chain}/{network}/token/getTokenPricesByContracts": {
      "post": {
        "operationId": "postGetTokenPricesByContracts",
        "summary": "Get token prices by contracts",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "network",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contractAddresses"
                ],
                "properties": {
                  "contractAddresses": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token prices result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "XApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "schemas": {}
  },
  "security": [
    {
      "XApiKey": []
    }
  ]
}
